In [1]:
import pandas as pd

/var/folders/z_/9h44s4jd1_v60ytmp987cz8m0000gn/T/ipykernel_15291/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
train = pd.read_csv("train_v2.csv.zip",compression='zip')
test = pd.read_csv("test_v2.csv.zip",compression='zip')
application_record = pd.read_csv("application_record.csv.zip",compression='zip')
credit_record = pd.read_csv("credit_record.csv.zip",compression='zip')

/var/folders/z_/9h44s4jd1_v60ytmp987cz8m0000gn/T/ipykernel_15291/3818011694.py:1: DtypeWarning: Columns (135,204,274,417) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv("train_v2.csv.zip",compression='zip')
/var/folders/z_/9h44s4jd1_v60ytmp987cz8m0000gn/T/ipykernel_15291/3818011694.py:2: DtypeWarning: Columns (417) have mixed types. Specify dtype option on import or set low_memory=False.
  test = pd.read_csv("test_v2.csv.zip",compression='zip')

In [7]:
credit_record

              ID  MONTHS_BALANCE STATUS
0        5001711               0      X
1        5001711              -1      0
2        5001711              -2      0
3        5001711              -3      0
4        5001712               0      C
...          ...             ...    ...
1048570  5150487             -25      C
1048571  5150487             -26      C
1048572  5150487             -27      C
1048573  5150487             -28      C
1048574  5150487             -29      C

[1048575 rows x 3 columns]

In [ ]:
print('hi')
print("hello")